body {
  margin                 : 0;
  font-weight            : 700;
  font-family            : 'Montserrat', sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing        : border-box;
  -webkit-box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size  : 100%;
  font-weight: normal;
  margin     : 0;
  color      : #040406;
}

a {
  text-decoration: none;
  text-transform : uppercase;
}

*:focus,
:focus {
  outline   : none;
  box-shadow: none;
}

ul {
  list-style-type: none;
  padding        : 0;
  margin         : 0;
}

.container {
  padding  : 0;
  margin   : 0 auto;
  width    : 100%;
  max-width: 1170px;
}

.wrapper {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: space-between;
  align-items    : center;
  width          : 100%;
}

header {
  background-color: rgb(73, 71, 63,.6);
  position        : sticky;
  top             : 0;
  z-index         : 9999;
}

nav ul li {
  padding   : 13px 7px;
  min-height: 70px;
}

nav ul a:hover {
  color: #18cfab;
}

nav ul li:hover {
  border-bottom: 2px solid #18cfab;
}

nav ul a {
  font-size  : 13px;
  line-height: 42px;
  color      : #d4d4d4;
}

.logo img {
  width : 108px;
  margin: auto 0;
}

.search {
  width : 17px;
  margin: -3px 0;
}

.carousel .carousel-status {
  display: none;
}

.carousel * {
  margin-top: 0px;
  position  : relative;
}
.carousel-root {
  outline: none;
  margin-top: -80px;
}
.carousel .thumbs-wrapper {
  margin  : 0 !important;
  overflow: hidden;
}

.carousel .thumbs {
  position: absolute !important;
}

.carousel.carousel-slider {
  height: 650px;
}

.carousel .slide img {
  height: 650px;
}

.wordprss {
  font-size     : 20px;
  line-height   : 10px;
  color         : #ffffff;
  text-align    : center;
  text-transform: uppercase;
}

.wordprss span {
  color: #18cfab;
}

.slider_heading {
  font-size     : 50px;
  line-height   : 60px;
  color         : #ffffff;
  text-transform: uppercase;

}

.slider_paragraph {
  font-size  : 17px;
  line-height: 60px;
  color      : #d4d4d4;
  font-weight: 300;
  text-align : center;
}

.sliter_about {
  position : absolute;
  top      : 50%;
  left     : 50%;
  transform: translate(-50%, -50%);
}

.btn_one {
min-width: 100px;
color: #fff;
}
.btn_one button {
  background-color: #18cfab;
  padding: 15px;
  margin: 35px 10px 0 0;
  border: 0;
  border-radius: 3px;
  color: #ffff;
}
.btn_one button:hover{
  border-top: 3px solid #ffff;
}
.btn_one:nth-child(odd){
  background-color: #11b0de;
}
.card {
  background-color: #1c2a33;
  width           : 25%;
  text-align      : center;
  padding         : 60px 0;
  border-top      : 5px solid #ffff;
  font-size       : 15px;
  color           : #18cfab;
  text-transform  : uppercase;
}

.card img {
  width : 50px;
  height: 45px;
}

.card:nth-child(2),
.card:last-child {
  background-color: #18cfab;
  border-top      : 5px solid #1c2a33;
  color           : #ffffff;
}

.main_heading {
  font-size  : 30px;
  line-height: 40px;
  color      : #4e4e4e;
  font-weight: 400;
  text-align : center;
  position   : relative;
}

.main_heading::after {
  content          : '';
  background-image : url('./Component/header-line.png');
  background-repeat: no-repeat;
  position         : absolute;
  bottom           : -45px;
  left             : 50%;
  width            : 80px;
  height           : 20px;
  transform        : translate(-50%, -50%);
}

.space {
  padding: 50px 0;
}

.spaceone {
  padding-top: 50px;
}

.feature_type {
  width: 31%;
}

.feature_heading {
  display: flex;
}

.feature_heading img {
  width : 25px;
  height: 25px;
}

.feature_heading h3 {
  margin     : auto 12px;
  font-size  : 18px;
  color      : #717171;
  font-weight: 700;
}

.feature_type {
  font-size  : 14px;
  line-height: 25px;
  color      : #777777;
  font-weight: 300;
  padding    : 15px 0;
}

.feature_type:hover h3 {
  color: #18cfab;
}

.tabs-titles {
  list-style: none;
  padding   : 0px;
  margin    : 0;
}

.tab-title {
  display    : inline-block;
  padding    : 10px;
  color      : #ffff;
  cursor     : pointer;
  margin-left: 1px;
}

.tab-title--active {
  border-top: 2px solid #18cfab;
  color     : #18cfab;
}

.tab-content {
  padding: 5px;
  margin : 0;
}

.link {
  display         : inline-block;
  text-decoration : none;
  font-size       : 20px;
  margin          : 30px;
  padding         : 10px;
  border-radius   : 5px;
  background-color: #f55a42;
  color           : #fff;
}

.right,
.left {
  width: 50%;
}

.left img {
  width        : 100%;
  height       : 394px;
  margin-left  : -62px;
  margin-bottom: -170px;
}

.about .right .skill li,
.right .biography {
  font-size  : 15px;
  line-height: 30px;
  color      : #ffff;
  font-weight: 300;
}

.process {
  border: 1px solid rgb(175, 165, 165,0.4);
  margin: 12px 0;
  color : #ffff;
  border-radius: 3px;
}

.content-two {
  width           : 80%;
  background-color: #11b0de;
  padding         : 12px;
}

.content {
  width           : 60%;
  background-color: #9c5da5;
  padding         : 12px;
}

.content-tree {
  width           : 55%;
  background-color: #d67f7f;
  padding         : 12px;
}

.content-four {
  width           : 90%;
  background-color: #20bc9d;
  padding         : 12px;
}

.content-five {
  width           : 85%;
  background-color: #bb8a36;
  padding         : 12px;
}

.tabs {
  min-height: 355px;
}

.about {
  background-image : url('./Component/bg-img.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;

}
.about-bg {
    background-color: rgb(28,42,51, 0.9);
}
.about .main_heading {
  text-align: start;
  color     : #fff;
}

.about .main_heading::after {
  content: '';
  left   : 29%;
}

.about .tab-content {
  min-height: 326px;
}

.service .wrapper.web p {
  width      : 83%;
  font-size  : 14px;
  line-height: 24px;
  color      : #777777;
  font-weight: 300;
  text-align : justify;
}

.web-image {
  width: 16%;
}

.work {
  background-color: #f8fcfe;
}

.work .tab-title {
  font-size       : 14px;
  color           : #030303;
  font-weight     : 400;
  background-color: #ffff;
  border          : 1px solid rgb(235, 233, 233);
  margin          : 0 -1px;
}

.work .tab-title--active {
  border-top: 2px solid #18cfab;
  color     : #18cfab;
}

.work button {
  font-size       : 14px;
  padding         : 20px 25px;
  color           : #ffffff;
  font-weight     : 700;
  border-radius   : 4px;
  background-color: #18cfab;
  display         : block;
  margin          : 30px auto;
  border          : 0;
  text-transform  : uppercase;
}

.plus-icon {
  width : 10px;
  height: 10px;
  margin: 0 10px;
}

.graphicsdesign {
  width   : 25%;
  border  : 1px solid rgb(235, 233, 233);
  position: relative;
}

.graphicsdesign:hover .viewimg {
  display   : block;
  border-top: 2px solid #18cfab;
}

.graphicsdesign .main-img {
  width : 100%;
  height: 207px;
}

.viewimg {
  background-color: #f8fcfe;
  position        : absolute;
  top             : 0;
  left            : 0;
  width           : 100%;
  text-align      : center;
  display         : none;
  padding         : 68px 0;
}

img.icon {
  padding      : 8px;
  border       : 1px solid #18cfab;
  border-radius: 100%;
  width        : 30px;
  margin       : 0 5px;
}

img.icon:hover {
  background-color: #18cfab;
}

.about-image {
  font-size  : 14px;
  line-height: 25px;
  color      : #18cfab;
}

.about-image span {
  display    : block;
  font-size  : 12px;
  line-height: 25px;
  color      : #8a8a8a;
  font-weight: 300;
}

.service .tab-title {
  font-size  : 16px;
  line-height: 25px;
  color      : #717171;
  font-weight: 400;
  text-align : center;
  padding    : 12px 47px;
  border     : 1px solid rgb(235, 233, 233);
  margin     : 0 0px;
}

.design-txt {
  font-size  : 14px;
  line-height: 24px;
  color      : #777777;
  font-weight: 300;
  text-align : justify;
}

/* .tab-title--active .arrow{
display: block;
  }
  .arrow{
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 20px solid #291e1e;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: none;
  } */
.service .tab-title--active {
  border          : 0;
  color           : #ffff;
  background-color: #18cfab;
}

.work .tabs-titles,
.service .tabs-titles {
  text-align: center;
}

.buyoption {
  background-image : url('./Component/bg-img.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color           : #fff;
  text-align      : center;
}
.buy-bg{
  background-color: rgb(28,42,51, 0.9);
}
.buyoption h2 {
  font-size  : 40px;
  line-height: 40px;
  color      : #18cfab;
  font-weight: 700;
}

.buyoption.space p {
  font-size  : 16px;
  line-height: 40px;
  color      : #d8d8d8;
  font-weight: 400;
}

.space-buy {
  padding: 70px 0;
}

.btn_two {
  width           : 165px;
  height          : 60px;
  border-radius   : 4px;
  background-color: #18cfab;
  color           : #fff;
  border          : 0;
  margin-top      : 50px;
}

.btn_two:hover {
  border-top: 2px solid #ffff;
}

.cardtwo {
  width   : 24%;
  position: relative;
  margin  : 8px 0;
  border  : 1px solid #ebebeb;
}

.cardtwo img {
  width : 100%;
  height: 228px;
}

.date {
  width           : 80px;
  height          : 80px;
  background-color: #203e38;
  position        : absolute;
  top             : 0;
  right           : 0;
  text-align      : center;
}

.cardtwo:hover .date {
  background-color: #18cfab;
}

.cardtwo:hover h3 {
  color: #18cfab;
}

.admin {
  font-size  : 14px;
  color      : #777777;
  font-weight: 300;
  padding    : 0 18px;
}

.date span {
  display: block;
}

.cardtwo .datetime {
  font-size  : 16px;
  line-height: 25px;
  color      : #ffffff;
  font-weight: 400;
  text-align : center;
}

.cardtwo h3 {
  font-size  : 18px;
  line-height: 33px;
  color      : #717171;
  font-weight: 700;
  padding    : 0 18px;
}

.box_one {
  width           : 25%;
  background-color: #25333c;
  border-top      : 5px solid #18cfab;
  padding         : 35px 0;
}

.extrn_border {
  border-radius: 100%;
  padding      : 22px;
  margin       : 0px auto;
  width        : 100px;
  height       : 100px;
  border-radius: 83px;
  border       : 2px solid #18cfab;
}

.extrn_border img {
  width           : 50px;
  height          : 50px;
  padding         : 12px;
  background-color: #00cbf6;
  border-radius   : 100%;
  border-radius   : 55px;
  background-color: #18cfab;
}

p.subscriber {
  font-size  : 36px;
  line-height: 8px;
  color      : #ffffff;
  font-weight: 400;
  text-align : center;
}

p.employee {
  font-size  : 18px;
  line-height: 10px;
  color      : #18cfab;
  font-weight: 300;
  text-align : center;
}

.box_one:nth-child(4),
.box_one:nth-child(2) {
  background-color: #18cfab;
  border-top      : 5px solid #25333c;
}

.box_one:nth-child(2) .extrn_border,
.box_one:nth-child(4) .extrn_border {
  border: 2px solid #25333c;
}

.box_one:nth-child(2) .extrn_border img,
.box_one:nth-child(4) .extrn_border img {
  background-color: #25333c;
}

.box_one:nth-child(2) p.employee,
.box_one:nth-child(4) p.employee {
  color: #25333c;
}

.card-four {
  width           : 25%;
  text-align      : center;
  border-radius   : 2px;
  background-color: #f8fcfe;
  border          : 1px solid #e1e1e1;
  position        : relative;
  overflow        : hidden;
}

.card-four ul li:last-child {
  border-bottom: 0;
}

.card-four ul li {
  border-bottom: 1px solid #e1e1e1;
}

.card-four ul li h2 {
  font-size     : 24px;
  line-height   : 40px;
  color         : #717171;
  font-weight   : 700;
  padding       : 10px 0;
  text-transform: uppercase;
}

.offer {
  color        : #ffff !important;
  border-bottom: 29px solid #18cfab;
  border-left  : 22px solid transparent;
  border-right : 25px solid transparent;
  height       : 0;
  width        : 94px;
  transform    : rotate(43deg);
  position     : absolute;
  top          : -7px;
  right        : -24px;
}

.card-four ul li:nth-child(2) {
  background-color: #2e4a5b;
  border          : 1px solid #ebebeb;
}

.card-four ul li p {
  font-size  : 14px;
  line-height: 30px;
  color      : #777777;
  font-weight: 400;
}

.card-four ul li:nth-child(2) p {
  font-size  : 39px;
  line-height: 0px;
  color      : #ffffff;
  font-weight: 700;
}

.card-four ul li:nth-child(2) p span {
  font-size  : 12px;
  line-height: 30px;
}

.card-four ul li button {
  border-radius   : 3px;
  background-color: #2e4a5b;
  border          : 0;
  color           : #ffff;
  padding         : 12px 30px;
  margin          : 10px 0;
}

.card-four:hover li:nth-child(2) {
  background-color: #18cfab;
  border          : 1px solid #ebebeb;
}

.card-four:hover {
  filter: drop-shadow(0 0 4.5px #c7c7c7);
}

.card-four:hover button {
  background-color: #18cfab;
}
.slider-img{
  background-image : url('./Component/sliderbg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.slider-bg{
  background-color: rgb(46,74,91,0.6);
}
.slider-bg .main_heading{
  color: #ffff;
}
img.qouts {
  width: 72px;
}
.center{
  text-align: center;
}
p.sliderparagraph{
    font-size: 15px;
    line-height: 30px;
    color: #c9c3c3;
    font-weight: 300;
}
p.position-client{
  color: #c9c3c3;
  font-size: 14px;
  font-weight: 100;
}
img.author-img {
  margin-top: 30px;
  width:95px;
  border-radius: 100%;
  border: 3px solid#18cfab;
  box-shadow: 0px 0px 1px 9px rgb(24,207,171,0.2);
}
.box_team {
  width           : 24%;
  background-color: #2e4a5b;
  position        : relative;
}
h3.name {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.0;
  color: #18cfab;
  margin-top: 30px;
}
.box_team:hover .plussign {
  display: block;
}
.carousel-next,
.carousel-prev {
  display: none !important;
}

.box_team:hover .team-img {
  opacity         : 0.6;
  background-color: #2e4a5b;
}

.box_team:hover {
  background-color: #18cfab;
}

.box_team:hover .position {
  color: #2e4a5b;
}

.box_team:hover ul.wrapper.social li {
  border-left: 1px solid #fff;
  border-top : 1px solid #ffff;
}

.box_team .team-img {
  width : 100%;
}

.box_team .plussign {
  position     : absolute;
  top          : 20%;
  left         : 50%;
  transform    : translate(-50%, 20%);
  width        : 80px;
  height       : 80px;
  border-radius: 100%;
  border       : 2px solid #18cfab;
  display      : none;
}

.plussign img {
  padding         : 20px;
  background-color: #ffff;
  border-radius   : 100%;
  margin          : 5px;
}

.membername {
  font-size  : 16px;
  line-height: 39px;
  color      : #ffffff;
  font-weight: 700;
  padding    : 0 18px;
}

.position {
  font-size  : 13px;
  line-height: 3px;
  color      : #18cfab;
  font-weight: 300;
  padding    : 0 18px 10px;
}

ul.wrapper.social li {
  width      : 70px;
  height     : 69px;
  padding    : 25px;
  border-top : 1px solid rgb(160, 158, 158);
  border-left: 1px solid rgb(160, 158, 158);
}

.theme {
  background-image : url('./Component/pexels-bri-schneiter-346529.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.theme-bg{
  background-color: rgb(46,74,91,0.6);
}
.theming {
  font-size  : 41px;
  line-height: 30px;
  color      : #ffffff;
  font-weight: 700;
  text-align : center;
}

.design {
  font-size  : 35px;
  line-height: 20px;
  color      : #18cfab;
  font-weight: 100;
  text-align : center;
}

.left_one {
  width: 60%;
}

.left_one img {
  width: 100%;
  margin-bottom: -103px;
}

.right_one {
  width: 40%;
}

.right_one ul li {
  font-size  : 14px;
  line-height: 35px;
  color      : #f7f7f7;
  font-weight: 300;
}

.right_one ul li::before {
  content         : '✔';
  border-radius   : 100%;
  width           : 10px;
  height          : 10px;
  padding         : 1px 2px;
  margin-right    : 10px;
  background-color: #18cfab;
}

.right_one ul li:last-child::before {
  display: none;
}

.right_one ul li button {
  font-size       : 13px;
  line-height     : 32px;
  color           : #ffffff;
  font-weight     : 700;
  border-radius   : 4px;
  background-color: #18cfab;
  border          : 0;
  padding         : 5px 20px;
  margin-top      : 15px;
}

.right_one ul li button:hover {
  border-top: 2px solid #ffff;
}

.left_two {
  width: 51%;
}

.left_two img {
  width : 100%;
  margin: 0 -42px;
}

.right_two {
  width: 49%;
}

.right_two .main_heading {
  text-align: start;
}

.right_two .main_heading::after {
  content: '';
  left   : 18%;
}

.spaceone textarea {
  height: 40%;
}

.spaceone textarea,
.spaceone input {
  padding: 7px;
  width  : 70%;
}

.spaceone input:last-child {
  border-radius   : 3px;
  background-color: #18cfab;
  padding         : 12px;
  border          : 0;
  font-size       : 14px;
  line-height     : 16px;
  color           : #ffffff;
  font-weight     : 700;
}

p.errormsg {
  color      : red;
  font-size  : 12px;
  font-weight: 100;
}

.footer {
  background-color: #1c2b33;
  position        : relative;
}

.footer-one {
  width: 20%;
}

.footer-two {
  width: 28%;
}

.copy-right {
  text-align      : center;
  padding         : 20px 0;
  background-color: #22353f !important;
}

.copy-right p {
  font-size  : 14px;
  line-height: 26px;
  color      : #aeaeae;
  font-weight: 300;
}

.copy-right p span {
  color: #18cfab;
}

.footer-about {
  font-size  : 14px;
  line-height: 26px;
  color      : #b2b2b2;
  font-weight: 300;
}

.footer-one ul li,
.footer-address {
  font-size  : 16px;
  line-height: 26px;
  color      : #c0c0c0;
  font-weight: 400;
}

.footer-address {
  padding   : 32px 0 20px;
  font-style: normal;
}

.footer-body {
  margin: 30px 0;
}

.footer-one ul li {
  color: #c1c1c1;
}

.footer-one ul li a {
  color         : #c1c1c1;
  text-transform: lowercase;
}

.footer-one ul li a:hover {
  color: #18cfab;
}

.footer-heading {
  font-size     : 18px;
  line-height   : 26px;
  color         : #ffffff;
  font-weight   : 700;
  text-transform: uppercase;
}

.ft-img {
  width: 30%;
}

.ft-img img {
  width : 100%;
  height: 70px;
}

.ft-content {
  width: 66%;
}

.ft-content h3 {
  font-size     : 13px;
  line-height   : 6px;
  color         : #ffffff;
  font-weight   : 700;
  text-transform: uppercase;
}

.ft-content p {
  font-size  : 14px;
  line-height: 30px;
  color      : #b2b2b2;
  font-weight: 300;
}

.publish-date {
  line-height: 20px !important;
  color      : #f1f1f1 !important;
}

.footer-post:hover h3 {
  color: #18cfab;
}

.footer-post {
  border-bottom: 1px solid teal;
  margin       : 20px 0;
  padding      : 8px 0;
}

.footer .wrapper {
  align-items: unset;
}

.footer .logo img {
  padding: 0;
}

.top-footer {
  margin-bottom: 30px;
}

.l-btn:hover {
  background-color: #18cfab;
  border          : 0;
}

.l-btn {
  font-size       : 14px;
  line-height     : 10px;
  color           : #ffffff;
  font-weight     : 300;
  padding         : 15px 20px;
  background-color: transparent;
  border          : 1px solid #fff;
  margin          : 6px 6px;
}

.d-flex {
  display  : flex;
  flex-wrap: wrap;
}

.subcribe {
  font-size  : 14px;
  line-height: 25px;
  color      : #b2b2b2;
  font-weight: 300;
}

img.l-img {
  margin: 7px 7px;
  width : 74px;
  height: 74px;
}

.footer-form input {
  padding         : 10px;
  background-color: #22353f;
  border          : 0;
  color           : #18cfab;

}

.footer-form input:nth-child(2) {
  font-size       : 14px;
  padding         : 10px;
  color           : #18cfab;
  font-weight     : 700;
  background-color: #2c4755;
  cursor          : pointer;

}
.copyright {
  background-color: #2c4755;
  text-align: center;
  padding: 12px 0;
}
.copyright p{
  color: #fff;
  font-size: 13px;
  font-weight: 100;
  opacity: 0.6;
}
.copyright p span{
  color: #18cfab;
}

























@media screen and (max-width: 1199px) {
  .container {
    max-width: 970px;
    width    : 100%;
  }
}
@media screen and (min-width: 1360px) {
  .left img {
    width: 100%;
    height: 394px;
    margin-left: -38%;
    margin-bottom: -170px;
}
}